:root {
  --main-white-color: hsla(0, 0%, 100%, 0.87);
  --main-muted-color: rgba(245, 245, 245, 0.6);
  --accent-color: rgb(88, 204, 140);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #1d1d20;
}

.App {
  min-height: 100vh;
  position: relative;
}

a,
p,
h1,
h2,
h3 {
  color: var(--main-white-color);
}

a {
  text-decoration: none;
}

.page-container {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0px 25px;
}

.heading {
  font-weight: 400;
}

.btn-more {
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--accent-color);
  font-size: 16px;
  background: rgba(0, 0, 0, 0);
  color: var(--accent-color);
  transition: 0.2s ease;
}

.btn-more:hover {
  color: black;
  border: 1px solid var(--accent-color);
  background: var(--accent-color);
}
